body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.HeadingStyle {
    background-color: blue;
    background-image: linear-gradient(to bottom, #5bc0de, #5bc0de);
    color: #F5F5F5;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    margin-left: 0px;
}

.msgSpan {
    padding: 8px 35px 8px 14px;
    background: none repeat scroll 0 0 #C22439;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    text-shadow: none;
    font-weight: bold;
}

.error {
    position: relative;
    margin-left: 8px;
    padding: 4px 10px;
    width: 150px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: none repeat scroll 0 0 #D53F26;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.3);
}
.successmsg {
    position: relative;
    margin-left: 8px;
    padding: 4px 10px;
    width: 150px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: none repeat scroll 0 0 #5cb85c;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.3);
}

.sideManu {
    background-color: #353899;
    border-radius: 1px;
}

.btnNext {
    background-color: #fab625;
    color: white;
}

.btnPre {
    background-color: #353899;
    color: white;
}

.btnlogin {
    width: 400px !important;
}

.uperNav {
    background-color: #353899;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
